

:root {
  --main-text-color: #757575;
  --title-color: #212121;
  --bg-color: #ffffff;
  --accent-link-color: #2196f3;
  --bg-color-section: #2f303a;
  --button-color: #f5f4fa;
  --bg-adress-color: rgba(255, 255, 255, 0.6);
  --logo-header-color: #000;
}



body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  letter-spacing: 0.03em;
  font-size: 16px;
  font-weight: 400;
  background-color: var(--bg-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0%;
  margin-bottom: 0%;
}


ul {
  display: flex;
  padding: 0%;
  margin: 0%;
  list-style: none;
}
/* header */

/* logo */ 

.logo  {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: var(--accent-link-color);
}

.list .logo  {
  width: 145px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-right: 93px;
}

.logo-studio-black {
  color: var(--logo-header-color);
}

.logo-studio-white {
  color: var(--bg-color);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left:  auto;
  margin-right: auto;
}

.header {
  border-bottom: 1px solid #ececec;
}

.page-header .container  {
  display: flex;
  align-items: center;
}

.list {
  display: flex;
}

.main-list {
  display: flex;
  flex-wrap: nowrap;
  
}

.main-list .item {
  width: 270px;
  margin-right: 30px;
}

.contact-nav a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration-line: none;
  color: var(--main-text-color);
}

.contact-item {
  display: flex;
  margin-left: auto;
  padding-top: 32px;
  padding-bottom: 32px;
}

.contact-nav .item +.item {
  margin-left: 50px;
}

.list-nav a {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration-line: none;
  color: var(--title-color);
}


.list-nav {
  display: flex;
  max-width: 100%;
}

.list-nav .item +.item {
  margin-left: 50px;
} 


.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.list-nav a:hover,
.list-nav a:focus {
  color: var(--accent-link-color);
}

.contact-nav :hover,
.contact-nav :focus {
  color: var(--accent-link-color);
}

.item-button button:hover,
.item-button button:focus {
  color: var(--bg-color);
  background-color: var(--accent-link-color);
}

.list-nav .current {
  color: var(--accent-link-color);
}

/* main section */
.section {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-color: var(--bg-color-section);
  color: var(--bg-color);
}

.section-hero {
  display: inline-block;
  width: 696px;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.section-button {
  display: block;
  border: 1px solid transparent;
  width: 200px;
  height: 50px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border-radius: 4px;
  color: var(--bg-color);
  background: var(--accent-link-color);
}


.main-section {
  width: 1200px;
  padding-top: 94px;
  padding-bottom: 94px;
  margin-left: auto;
  margin-right: auto;
  color: var(--main-text-color);

} 



.section-command {
  background-color: var(--button-color);

}

.title-command {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  color: var(--title-color);
}
 
.title-command {
  padding-top: 94px;
  padding-bottom: 50px;
}



.link-gadget {
  width: 370px;
  margin-right: 30px;
}

.link-gadget:last-child {
  margin-right: 0%;
}

.link-command {
  width: 270px;
  margin-right: 30px;
  margin-bottom: 94px;
}

.link-command:last-child {
  margin-right: 0%;
}
 .img-command {
  margin-bottom: 30px;
}

.main-title {
  margin-top: 0%;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;

  text-transform: uppercase;
  color: var(--title-color);

}
.main-text {
  margin-top: 0%;
} 
 .main-text:last-child {
   margin-bottom: 0%;
 }

.title-name {
  font-weight: 500;
  line-height: 1.187;
  margin-bottom: 10px;
  text-align: center;
  color: var(--title-color);
}

.item-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}

.list-name {
  font-size: 14px;
  line-height: 1.71;
  margin-bottom: 30px;
  text-align: center;
  color: var(--main-text-color);
}

.item-name > p {
  line-height: 1.87;
  color: var(--main-text-color);
}

/* button  */
.sektion-button [type="button"] {
  font-weight: 700;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  text-decoration-line: none;
  color: var(--title-color);
  background-color: var(--button-color);
}

button {
  cursor: pointer;
}

.list-button .item-button {
  display: inline-block;
  font-weight: 500;
  line-height: 1.62;
  text-align: center;
  
  color: var(--title-color);
  background-color: var(--button-color);
}


.item-button {
  display: flex;
  margin-right: 8px;
  margin-top: 94px;
  margin-bottom: 50px;
  border: 1px solid transparent;

}

.list-button {
  justify-content: center;
}



.button:hover,
.button:focus {
  color: var(--button-color);
  background-color: var(--accent-link-color);
  
}

.button:active {
  color: var(--button-color);
  background-color: var(--accent-link-color);
  
}
/*footer*/

.footer-color {
  background-color: var(--bg-color-section);
  
}


.footer-list .logo {
  display: block;
  width: 145px;
  padding-top: 60px;
  margin-bottom: 20px;
}

/*.footer-color .container {
  display: block;
  padding-top: 60px;
  padding-bottom: 60px;
}*/

.contact-nav-color  {
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  color: var(--bg-color);
}

/*.contakt-nav .link-footer {
  display: block;
  padding-top: 9px;
  
}*/


.addres-footer {
  width: 231px;
  display: block;
  padding-top: 9px;
  padding-bottom: 60px;
}


.footer-list .footer {
  display: block;
  flex-direction: column;

  color: var(--bg-adress-color)
}

.footer-list {
  display: block;
  
}

.main-portfolio {
  width: 1200px;
  padding-top: 94px;
  padding-bottom: 94px;
  margin-left: auto;
  margin-right: auto;
}

.img-pfolio {
  margin-right: 30px;
}


.list-portfolio {
  display: flex;
  flex-wrap: wrap;
}

.item-portfolio {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.item-portfolio:last-child {
  margin-right: 0%;
}

.item-portfolio:nth-child(3n) {
  margin-right: 0%;
}

.item-portfolio:nth-last-child(-n + 3)
{
  margin-bottom: 0%;
}

.menu-project {
  width: 322px;
  margin: 20px 24px;
}